django
fastapi
uvicorn
django-allauth
django-pwa
django-rosetta
requests
PyJWT
cryptography
SpeechRecognition
geopy
rfc3339
scipy
pandas
nltk
mysql
mysql-connector
mysql-connector-python
torch
